@model IEnumerable<JobSite.Models.Job>
//Razor needs to check local storage 
@{
    ViewBag.Title = "Index";
}


<script type="text/javascript" src="~/Scripts/JobScripts/jobExistsScript.js"></script>
<script type="text/javascript" src="~/Scripts/JobScripts/DataTableScripts/DataTableFunctions.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />

<h2>Job Listings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th id="Company" data-order="ascending">
            @Html.DisplayNameFor(model => model.Company)
                  
        </th>
        <th id="Role">
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distcance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            var companyNameNoSpaces = item.Company.Replace(" ", "");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distcance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td id="@(companyNameNoSpaces)">
                    @Html.ActionLink("Edit", "Edit", new { id = item.JobID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.JobID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.JobID })
                    <a href=""></a>
                </td>

            </tr>
        }
    }
</table>
<hr />



@Html.TextBox("answer")
<button id="button" class="getRequest-btn" data-url="/Jobs/GetCitysWithTheMostJobs" data-answer="#answer" type="submit">What City'(s) Has the most Jobs?</button>
<br />
<br />
@Html.TextBox("amount")
<button id="button" class="getRequest-btn" data-url="/Jobs/NumberOfJobsAppliedFor" data-answer="#amount" type="submit">How many jobs have I applied for?</button>
<br />
<br />
@Html.TextBox("jobExists")
<button id="button" class="postRequest-btn" data-url="/Jobs/JobExists" data-answer="#amount" type="submit">Have I applied for this Job?</button>


<p id="jobExistsAnswer" class="hidden">This Job has already been applied for</p>

