@model IEnumerable<JobSite.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Job Listings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distcance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {


        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distcance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.JobID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.JobID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.JobID })
                </td>

            </tr>
        }
    }
</table>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/JobScripts/buttonUpdate.js"></script>
@Html.TextBox("answer")
<button id="button" class="analytics-btn" data-url="/Jobs/GetCitysWithTheMostJobs" data-answer="#answer" type="submit">What City'(s) Has the most Jobs?</button>
<br />
<br/>
@Html.TextBox("amount")
<button id="button" class="analytics-btn" data-url="/Jobs/NumberOfJobsAppliedFor" data-answer="#amount" type="submit">How many jobs have I applied for?</button>
