@model JobSite.Models.JobModel
    @{
        ViewBag.Title = "Index";
    }


    <script type="text/javascript" src="~/Scripts/JobScripts/jobQuestionScript.js"></script>
    <script type="text/javascript" src="~/Scripts/JobScripts/DataTableScripts/DataTableFunctions.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />

    <h2>Job Listings</h2>


    <div class="row form-group">
        <div class="col-sm-8">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div class="col-sm-3">
            <label>Search:</label>
            @Html.TextBox("GlobalSearch")
        </div>
    </div>
    <table class="table">
        <tr>

            <th id="Company" data-order="ascending">
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Company)

            </th>
            <th id="Role">
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Distcance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().City)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {

            foreach (var item in Model.Jobs)
            {
                var companyNameNoSpaces = item.Company.Replace(" ", "");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distcance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td id="@(companyNameNoSpaces)">
                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.JobID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.JobID })
                        <a href=""></a>
                    </td>

                </tr>
            }
        }
    </table>
    <hr />
@{ 
       //Lower and Upper are used to determin what rows will be on which page 
      var lower = 11;
      var upper = 21;
    <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item active" data-rows="1-11"><a class="page-link">1</a></li>
        @for (int i = 1; i < Model.Pages; i++)
        {
            var pageNumber = i + 1;
            <li class="page-item" data-rows=@String.Concat(lower.ToString(), "-", upper.ToString())><a class="page-link" >@pageNumber</a></li>
            lower = upper + 1;
            upper = upper + 10;
        }
        <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
    }


    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-sm-3">
                <button id="button" class="request-btn" data-url="/Jobs/JobQuery" value="GetCitysWithTheMostJobs" name="answers" data-answer="#answer" type="submit">What City'(s) Has the most Jobs?</button>
            </div>
            <div id="GetCitysWithTheMostJobs" class="col">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <button id="button" class="request-btn" data-url="/Jobs/JobQuery" value="NumberOfJobsAppliedFor" data-answer="#amount" type="submit">How many jobs have I applied for?</button>
            </div>
            <div id="NumberOfJobsAppliedFor" class="col">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                @Html.TextBox("jobExists")
            </div>
            <div class="col-sm-3">
                <button id="button" class="request-btn" data-url="/Jobs/JobQuery" value="JobHasBeenAdded" data-answer="#amount" type="submit">Have I applied for this Job?</button>
            </div>
            <div id="JobHasBeenAdded" class="col-sm-3">

            </div>

        </div>
    </div>
