<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/DropDown.css"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        @Html.ActionLink("Job Analytics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("About", "About", "Home")
        @Html.ActionLink("Contact", "Contact", "Home")
        @Html.ActionLink("Projects", "Projects", "Home")
        @Html.ActionLink("Widgets", "Index", "Widget")
        @Html.ActionLink("Jobs Page", "Index", "Jobs")



        @*<ul>
            <li>
                @Html.ActionLink("Jobs Page", "Index", "Jobs")
                <ul>
                    <li><a href="#">Create</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Art</a></li>
                </ul>
            </li>


        </ul>*@


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
